{:deps         true
 :source-paths ["src"]
 :builds       {:main
                {:target            :browser
                 :asset-path        "/js"
                 :module-hash-names true
                 :modules           {:main {:init-fn client.core/init
                                            :entries [client.core]
                                            ;; :preloads [day8.re-frame-10x.preload]
                                            }}
                 :output-dir        "resources/public/js"}}
 :nrepl        {:port       8777
                :middleware [refactor-nrepl.middleware/wrap-refactor]}}
